@import "tailwindcss";

@theme {
  --breakpoint-3xs: 400px;
  --breakpoint-2xs: 450px;
  --breakpoint-xs: 550px;

  /* colors */
  --color-primary: #0f172a;
  --color-border-gray: #283039;
}

.bg-gradient {
  @apply bg-primary min-h-screen flex items-center justify-center text-[#f1f5f9];
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.stat-bar-bg {
  @apply h-2 w-full bg-slate-900/50 rounded-full overflow-hidden;
}

.stat-bar-fill {
  @apply h-full rounded-full transition-all duration-500;
}

.skeleton-shimmer {
  @apply relative overflow-hidden bg-[#334155];
}

.skeleton-shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.05) 20%,
      rgba(255, 255, 255, 0.1) 60%,
      rgba(255, 255, 255, 0));
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}